<mat-toolbar color="warn">
            <mat-toolbar-row>
                <button mat-icon-button [matMenuTriggerFor]="menuMain"><mat-icon>menu</mat-icon></button>        
                <span>{{title}}</span>
                <span class="spacer"></span>
                <span class="spacer"></span>
                <button mat-icon-button [matMenuTriggerFor]="menuAdmin"><mat-icon>person</mat-icon></button>      
            </mat-toolbar-row>
            
            <mat-menu #menuMain="matMenu">
                <button mat-menu-item>
                    <a [routerLink]="['/home']"><mat-icon>home</mat-icon></a>
                    <a [routerLink]="['/home']"><span>Home</span></a>
                </button>
                <mat-divider></mat-divider>
                
                <button mat-menu-item>
                    <a [routerLink]="['/movie/show_type/current']"><mat-icon>movie</mat-icon></a>
                    <a [routerLink]="['/movie/show_type/current']"><span>Current</span></a>
                </button>
                <button mat-menu-item>
                    <a [routerLink]="['/movie/show_type/upcoming']"><mat-icon>movie</mat-icon></a>
                    <a [routerLink]="['/movie/show_type/upcoming']"><span>Upcoming</span></a>
                </button>
                <button mat-menu-item>
                    <a [routerLink]="['/movie/show_type/premier']"><mat-icon>movie</mat-icon></a>
                    <a [routerLink]="['/movie/show_type/premier']"><span>Premier</span></a>
                </button>
                <mat-divider></mat-divider>
                
                <button mat-menu-item>
                    <a [routerLink]="['/enquiry']"><mat-icon>comment</mat-icon></a>
                    <a [routerLink]="['/enquiry']"><span>Enquiry</span></a>
                </button>
                <button mat-menu-item>
                    <a [routerLink]="['/about-us']"><mat-icon svgIcon="favicon"></mat-icon></a>
                    <a [routerLink]="['/about-us']"><span>About Us</span></a>
                </button>
            </mat-menu>  
            
            <mat-menu #menuAdmin="matMenu">
                <button mat-menu-item>
                    <span>Login</span>
                </button>
                <button mat-menu-item disabled>
                    <span>Movie</span>
                </button>
                <button mat-menu-item disabled>
                    <span>Genre</span>
                </button>
                
                
            </mat-menu>        
</mat-toolbar>