
<div class="searchForm">
  <!--<p>to update id: {{toUpdateMovie.movie_id}}</p>-->
<div class="row">
    <div class="col-sm-12 text-left">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" class="form-control"
          [formControlName]="'title'"  >
        </div>
      
        <div class="form-group">
          <label for="genre">Genre:</label>
          <select [formControlName]="'genre'" ><option  [value]="genre.genre_name"  *ngFor="let genre of genres">{{genre.genre_name}}</option></select>
        </div>
    
        <button [disabled]="!searchForm.valid" class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-primary" type="cancel" (click)="onCancel()">Cancel</button>
      </form>
      <hr>      
    </div>
  </div>
 </div> 
 
 
<div class="list"> 
<mat-grid-list rowHeight="300px" cols="6" >
  <mat-grid-tile *ngFor="let m of results; let i = index" >
    <mat-card>
        <!--<mat-card-header>-->
        <!--    <mat-card-title>{{m.title}}</mat-card-title>-->
        <!--    <mat-card-subtitle>{{m.popularity}}</mat-card-subtitle>-->
        <!--</mat-card-header>-->
        
        <img  mat-card-image src={{imageUrl}}{{m.image_url}} >
        <mat-card-content><button mat-button><mat-icon>info</mat-icon></button><p class="type">{{m.genre_name}}/{{m.showtype_name}}<p class="title">{{m.title| slice:0:20}} {{m.overview}}<mat-card-actions>
        </mat-card-actions></mat-card-content>
    </mat-card>
</mat-grid-tile>
</mat-grid-list>
</div>