input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

span.help-block {
    color: red;
}

.enquiry{
    background-color:#FFD8D8;
    color:#730404;
}
.header{
    background:#722323;
    color:#FAC8C8;
    font-weight:bold;
    text-align:center;
    padding:15px 0px 5px;
}