<div class="header">  
<app-header-img [fxShow.xs]="false" ></app-header-img>
<app-header-nav [fxShow.xs]="false" ></app-header-nav>
<app-header-nav-mobile  [fxShow.gt-xs]="false"></app-header-nav-mobile>
</div>