


<div class='article' fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.0%" fxLayoutAlign="flex-start">
<app-home-main fxFlex="100%"></app-home-main>
<!--<app-home-aside-right fxFlex="40%"></app-home-aside-right>-->
</div>