<!--<ul>-->
<!--    <li><a routerLink="/home">Home</a></li>-->
<!--    <li><a routerLink="/movie">Movie</a></li>-->
<!--    <li><a routerLink="/movie/list">List</a></li>-->
<!--    <li><a routerLink="/admin">Admin</a></li>-->
<!--    <li><a routerLink="/admin/log-in">LogIn</a></li>-->
<!--    <li><a routerLink="/enquiry">Enquiry</a></li>-->
<!--    <li><a routerLink="/about-us">About Us</a></li>-->
<!--</ul>-->

<nav class="horizontal">
 <ul class="mainmenu"> 
    <li><a routerLink="/home">Home</a></li>
    
    <li><a href="/movie/show_id/1" class="submenuTitle">Movie &#9654;</a>
       <ul class="submenu">
          <li><a routerLink="/movie/show_id/1">Current</a></li>
          <li><a routerLink="/movie/show_id/2">Upcoming</a></li>
          <li><a routerLink="/movie/show_id/3">Premier</a></li>
          <li><a routerLink="/movie/show_id/4">Archive</a></li>
        </ul>
    </li>
    
    <!--<li><a routerLink="/enquiry">Enquiry</a></li>-->
    
    <!--<li><a routerLink="/movie/search">Search</a></li>-->
    
    <li><a href="/movie/show_id/1" class="submenuTitle">Movie &#9654;</a>
       <ul class="submenu">
          <li><a routerLink="/movie/genre_id/1">Action</a></li>
          <li><a routerLink="/movie/genre_id/16">Adventure</a></li>
          <li><a routerLink="/movie/genre_id/17">Animation</a></li>
          <li><a routerLink="/movie/genre_id/18">Comedy</a></li>
        </ul>
    </li>
     

    <li><a href="#" class="submenuTitle">Enquiry &#9654;</a>
       <ul class="submenu">
          <li><a routerLink="/enquiry">Enquiry</a></li>
       </ul>
       <ul class="submenu">
          <li><a routerLink="/search" >Search</a></li>
       </ul>
        <ul class="submenu">
          <li><a routerLink="/about-us">About Us</a> </li>
       </ul>
    </li>
    
    <li><a href="#" class="submenuTitle">Admin &#9654;</a>
       <ul class="submenu">
          <li *ngIf="!admin.loggedIn;else notLoggedIn"><a routerLink="/admin/log-in">Login</a></li>
          <ng-template #notLoggedIn><li><button mat-button (click)="onLogout()">Logout</button></li></ng-template>
          
       </ul>
       <ul class="submenu" *ngIf="admin.loggedIn">
          <li><a routerLink="/admin/movie" >Movie</a></li>
       </ul>
       <ul class="submenu"  *ngIf="admin.loggedIn">
          <li><a routerLink="/admin/genre" >Genre</a></li>
       </ul>
       <ul class="submenu" *ngIf="admin.loggedIn">
          <li><a routerLink="/admin/showtype"  >Showtype</a></li>
       </ul>
    </li>
 </ul>
</nav>