@charset "utf-8";
/*
   This file contains the screen styles
*/

/* ===========
   Base Styles
   ===========
*/

/* Horizonal Navigation Styles */

nav.horizontal {
   background-color: red;
   min-height: 2em;
}

nav.horizontal li {
   display: block;
   line-height: 2em;
   text-transform: uppercase;
}

nav.horizontal a {
   display: block;
   font-size: 1em;
}

nav.horizontal a:visited, nav.horizontal a:link {
   color: white;
}

nav.horizontal a:hover, nav.horizontal a:active {
   background-color: #b30000;
   color: #fedf08;
}

/* Main Menu Styles */

ul.mainmenu {
   display: block;
}

ul.mainmenu>li {
   text-indent: 15px;
}


/* Submenu Styles */

ul.submenu {
   width: 100%;
   background-color: #ff4d4d;
}



/* Pulldown Menu Styles */
ul.submenu{
   display:none;
}

.submenuTitle:hover+ul.submenu,ul.submenu:hover{
   display:block;
}

/* New Styles Added Below */


/* 
   Mobile styles: 0px to 480px
*/
@media only screen and (max-width:480px){
 nav.horizontal a{
    font-size:1.5em;
    line-height:2.2em;
 }
}

/* 
   Tablet styles:4819px and greater
*/
@media only screen and (min-width:481px){
   ul.mainmenu > li{
      float:left;
      width:20%;
      position:relative;
   }
   ul.submenu{
      width:200%;
      box-shadow:rgb(51,51,51) 5px 5px 15px;
      position:absolute;
   }
   
   
}

/* 
   Desktop styles: 769px and greater
*/
@media only screen and (min-width:769px){
   
   ul.submenu {
      background:transparent;
      box-shadow:none;
      display:block;
      position:relative;
      width:100%;
   }
   nav.horizontal::after{
      clear:both;
      content:"";
      display:table;
   }
   
   nav.horizontal a.submenuTitle{
      display:none;
   }
}

.disabled {
    color: gray;
    cursor: not-allowed;
    text-decoration: underline;
}
