.article{
    
 background-image: url("http://r7081911.duckdns.org:4404/assets/web/temp/mb_back1.png");
 
}
app-about-us-main{
    background:#FFD8D8;
    color:#730404;
}

app-about-us-aside-right{
    background:#FFD8D8;
    color:#730404;
    text-align:center;
}