<div class='article' fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.0%" fxLayoutAlign="flex-start">
<app-about-us-main fxFlex="60%"></app-about-us-main>
<app-about-us-aside-right  fxFlex="40%" ></app-about-us-aside-right>
</div>


<!--<div class="body">-->
<!--<app-header></app-header>-->
<!--<app-section></app-section>-->
<!--<div class="flex" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">-->
<!--<app-aside-flex fxFlex="40%" fxShow [fxShow.xs]="isVisibleOnMobile()"></app-aside-flex>-->
<!--<app-section-flex fxFlex="60%"></app-section-flex>-->
<!--<app-section-flex fxFlex="60%" [ngStyle.xs]="{'font-size.px': 10, color: 'white', 'background-color':'black'}"></app-section-flex>-->
<!--<app-section-flex fxFlex="60%" [ngClass.xs]="{'test':true,'test-ng-class-blue':false}"></app-section-flex>-->
<!--</div>-->