<app-home-aside-right></app-home-aside-right>

<h3 class="header">Current Screening</h3>
<mat-grid-list rowHeight="300px" cols={{limit}}>
  <mat-grid-tile *ngFor="let m of currentMovies; let i = index" >
    <mat-card  (click)="OnMatCardClickEvent(m)">
        <!--<mat-card-header>-->
        <!--    <mat-card-title>{{m.title}}</mat-card-title>-->
        <!--    <mat-card-subtitle>{{m.popularity}}</mat-card-subtitle>-->
        <!--</mat-card-header>-->
        
        <img mat-card-image src={{imageUrl}}{{m.image_url}} >
        <mat-card-content><p class="type">{{m.genre_name}}<p class="title">{{m.title| slice:0:20}}<mat-card-actions>
        </mat-card-actions></mat-card-content>
    </mat-card>
</mat-grid-tile>
</mat-grid-list>

<h3 class="header">Upcoming</h3>
<mat-grid-list  rowHeight="300px" cols={{limit}}>
  <mat-grid-tile *ngFor="let m of upcomingMovies; let i = index" >
    <mat-card  (click)="OnMatCardClickEvent(m)">
        <!--<mat-card-header>-->
        <!--    <mat-card-title>{{m.title}}</mat-card-title>-->
        <!--    <mat-card-subtitle>{{m.popularity}}</mat-card-subtitle>-->
        <!--</mat-card-header>-->
        
        <img mat-card-image src={{imageUrl}}{{m.image_url}} >
        <mat-card-content><p class="type">{{m.genre_name}}<p class="title">{{m.title| slice:0:20}}<mat-card-actions>
        </mat-card-actions></mat-card-content>
    </mat-card>
</mat-grid-tile>
</mat-grid-list>

<h3 class="header">Premier</h3>
<mat-grid-list rowHeight="300px" cols={{limit}} >
  <mat-grid-tile *ngFor="let m of premierMovies; let i = index" >
    <mat-card *ngIf="i<7"  (click)="OnMatCardClickEvent(m)">
        <!--<mat-card-header>-->
        <!--    <mat-card-title>{{m.title}}</mat-card-title>-->
        <!--    <mat-card-subtitle>{{m.popularity}}</mat-card-subtitle>-->
        <!--</mat-card-header>-->
        
       
        <img mat-card-image src={{imageUrl}}{{m.image_url}} >
        

        
        
        <mat-card-content><p class="type">{{m.genre_name}}<p class="title">{{m.title| slice:0:20}}<mat-card-actions>
        </mat-card-actions></mat-card-content>
        
    </mat-card>
</mat-grid-tile>
</mat-grid-list>