.header{
    background:#722323;
    color:#FAC8C8;
    font-weight:bold;
    text-align:center;
    padding:15px 0px 5px;
}

.mat-card{
    max-width:300px;
    height:300px;
    margin:auto;
    border:5px solid red;
    border-radius:25px;
    background:#F2DFDF;
}

img{
     min-height:150px;
    max-height:180px;
    background-size: cover;
}
mat-grid-list{
    width:100%;
}


mat-card-content{
    max-height:80px;
    background:#F2DFDF;
    color:#892E2E;
    font-size:0.8em;
    font-weight:bold;
    text-align:center;
}