<button mat-raised-button (click)="add()"><mat-icon>add</mat-icon>ADD {{title|uppercase}}</button>


<div class="form-group row add" *ngIf="toAdd">
    <label for="inputName" class="col-sm-3 form-control-label">Name</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="inputName" [(ngModel)]="inputInfo.name">
        <button class="btn btn-warning" type="add" (click)="addSubmit()">Submit</button>
        <button class="btn btn-warning" type="cancel" (click)="addCancel()">Cancel</button>
    </div>
</div>
