<div class="addButton">
<button mat-raised-button (click)="add()"><mat-icon>add</mat-icon>ADD {{title|uppercase}}</button>
</div>
<div class="addForm" *ngIf="toShowAddForm">
<div class="row">
    <div class="col-sm-12 text-left">
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name*:</label>
          <input type="text" id="name" class="form-control"
          [formControlName]="'name'"  [(ngModel)]="inputInfo.name">
          <span
              *ngIf="!addForm.get('name').valid && addForm.get('name').touched"
              class="help-block">
              <span *ngIf="addForm.get('name').errors['required']">
                This field is required!
              </span>
              <span *ngIf="!addForm.get('name').errors['required'] 
              && addForm.get('name').errors['blankSpaces']">
                Empty spaces are not accepted.
              </span>
          </span>          
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" id="description" class="form-control"
          [formControlName]="'description'"  [(ngModel)]="inputInfo.description">
        </div>
       
        <button [disabled]="!addForm.valid" class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-primary" type="cancel" (click)="addCancel()">Cancel</button>
      </form>
      <hr>      
    </div>
  </div>
 </div> 


