<div class="article">
<div class="about">
<h3 class="header">ABOUT SP Theatre</h3>
<p>Founded in 1946, the {{title}} Group’s business spans entertainment, properties, hospitality, and lifestyle in Singapore and Malaysia. The Group manages a portfolio of brands that include WE Cinemas, Hotel Fort Canning, Jubilee Square, 321 Clementi, The Legends Fort Canning Park, and The Legends Golf & Country Resort.
</div>

<div class="milestone" [fxShow.xs]="false">
<h3 class="header">SP Cinemas’ Milestones</h3>
<ul>
    
<li>2002 - First Cinema in Singapore to implement an on-line loyalty program, known as “Friends of {{title}}”. First Cinema in Singapore to provide the SMS -a-movie service.</li>

<li>2003 - First Cinema outside of the USA to deploy a full 2K Digital Cinema system. First Cinema in the world to commercially screen a full 2K-enabled digital movie.</li>

<li>2004 - First Cinema in the world to operate a full 2K enabled cineplex.</li>

<li>2005 - First Cinema in Singapore to offer Mobile Ticketing service. Placed among the top 100 Asian companies in CIO Asia’s CIO 100 List.</li>

<li>2006 - First Cinema to launch ticketing service with SingPost on SingPost’s 250 Self-service Automated Machines (S.A.M.) islandwide. Best Service, Best Snack Bar, Best Sound - The Sunday Times SPBA Heritage Brand Award Winner.</li>

<li>2007 - One of the 1st in the World to showcase 4K Digital Cinema technology with “SpiderMan 3”. Introduces industry’s 1st Personalised Movie Gift Card in May. EW Cinemas is Principal Partner of National Day Parade 2007. EW Cinemas launches 1st of a kind fund raising initiative in Singapore; funds are raised through an auction of EW Movie Gift Cards, specially designed by members of the public. All proceeds from the online charity auction held at eBay Singapore, go towards The Straits Times (ST) School Pocket Money Fund.</li>

<li>2008 - EW Cinemas is 1st Cinema Chain to pledge support to Singapore’s bid for the Youth Olympic Games 2010. EW Cinemas is Principal Partner of National Day Parade 2008. EW Cinemas is the 1st in Singapore to commercially screen a Digital 3D movie “Bolt”.</li>

</ul>
</div>
</div>