<div class="header">
<div *ngIf="isGenre;else notGenre">
    {{movies[0].genre_name| uppercase }}
</div>
<ng-template #notGenre>{{showtype_name| uppercase }}</ng-template>
<!--<ng-template #notGenre></ng-template>-->
</div>





<div class="list"> 
<mat-grid-list rowHeight="300px" cols="6" >
  <mat-grid-tile *ngFor="let m of movies; let i = index" >
    <mat-card>
        <!--<mat-card-header>-->
        <!--    <mat-card-title>{{m.title}}</mat-card-title>-->
        <!--    <mat-card-subtitle>{{m.popularity}}</mat-card-subtitle>-->
        <!--</mat-card-header>-->
        
        <img  mat-card-image src={{imageUrl}}{{m.image_url}} >
        <mat-card-content><button mat-button><mat-icon>info</mat-icon></button><p class="type">{{m.genre_name}}/{{m.showtype_name}}<p class="title">{{m.title| slice:0:20}} {{m.genre_id}}<mat-card-actions>
        </mat-card-actions></mat-card-content>
    </mat-card>
</mat-grid-tile>
</mat-grid-list>
</div>