<div class="header">
<app-showtype-add (newItemAdded)="onNewItemAdded($event)" (newItemAdding)="onNewItemAdding($event)"></app-showtype-add>
</div>

<p>{{eventMessage}}</p>

    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="row update"   *ngIf="toUpdate">
      <label for="id">Id:</label><input type="text" id="id" type="hidden" value={{toUpdateShowtype.showtype_id}}  [(ngModel)]="inputInfo.showtype_id">
      <label for="name">Name:</label><input [formControlName]="'name'"  type="text" id="name" placeholder={{toUpdateShowtype.showtype_name}}  [(ngModel)]="inputInfo.showtype_name">
      
      <span
              *ngIf="!editForm.get('name').valid && editForm.get('name').touched"
              class="help-block">
              <span *ngIf="editForm.get('name').errors['required']">
                This field is required!
              </span>
              <span *ngIf="!editForm.get('name').errors['required'] 
              && editForm.get('name').errors['blankSpaces']">
                Empty spaces are not accepted.
              </span>
      </span>        
          
    <br>
    <button class="btn btn-warning" [disabled]="!editForm.valid" type="submit" (click)="updateSubmit()">Submit</button>
    <button class="btn btn-warning" type="cancel" (click)="updateCancel()">Cancel</button>
</form>


<table mat-table [dataSource]="showtypes" class="mat-elevation-z8" *ngIf="toListAll">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.showtype_id}} </td>
  </ng-container>


<!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.showtype_name | uppercase}} </td>
  </ng-container>


   <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> 
    <button mat-button (click)="onDelete(element)"><mat-icon>delete</mat-icon></button> 
    <button mat-button (click)="onUpdate(element)"><mat-icon>update</mat-icon></button> 
    
    </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>