<div class="locate-us">
<h3 class="header">Locate Us</h3>
<img src="assets/web/img/locate-us.png" alt="SP Theatre">
</div>

<div class="find-us">
<h3 class="header">{{title}}, Singapore Polytechnic</h3>
<p>{{address}}</p>
<p>{{telno}}</p>
<p>{{email}}</p>
</div>