<p>{{eventMessage}}</p>

<div class="loginForm"  *ngIf="toShowLoginForm">
<div class="row">
    <div class="col-sm-12 text-left">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" class="form-control"
          [formControlName]="'name'"  [(ngModel)]="inputInfo.name">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="text" id="password" class="form-control"
          [formControlName]="'password'"  [(ngModel)]="inputInfo.password">
        </div>
       
        <button [disabled]="!loginForm.valid" class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-primary" type="cancel" (click)="addCancel()">Cancel</button>
      </form>
      <hr>      
    </div>
  </div>
 </div> 


