<div class="header">
<app-genre-add (newItemAdded)="onNewItemAdded($event)" (newItemAdding)="onNewItemAdding($event)" (newItemCancel)="onNewItemCancel($event)" ></app-genre-add>
</div>


<div class="eventMessage">{{eventMessage}}</div>

<!--<div class="update" *ngIf="toUpdate">-->
<!--    <form (ngSubmit)="onSubmit()">-->
<!--    Name <input type="text" id="name" placeholder={{toUpdateGenre.genre_name}}>-->
    
<!--    <br>-->
<!--    <button class="btn btn-warning" type="submit" (click)="updateSubmit()">Submit</button>-->
<!--    <button class="btn btn-warning" type="cancel" (click)="updateCancel()">Cancel</button>-->
<!--    </form>-->
<!--</div>-->

<div class="updateForm" *ngIf="toUpdate">
  <p>to update id: {{toUpdateGenre.genre_id}}</p>
<div class="row">
    <div class="col-sm-12 text-left">
      <form [formGroup]="updateForm" (ngSubmit)="updateSubmit()">
        <!--<div class="form-group">-->
        <!--  <label for="id">ID:</label>-->
        <!--  <input type="hidden" id="id" name="id" class="form-control" placeholder={{toUpdateGenre.genre_id}}-->
        <!--  [formControlName]="'id'"  -->
        <!--  >-->
        <!--</div>-->
        <div class="form-group">
          <label for="name">Name*:</label>
          <input type="text" id="name" class="form-control" placeholder={{inputInfo.genre_name}}
          [formControlName]="'name'"  >
          <span
              *ngIf="!updateForm.get('name').valid && updateForm.get('name').touched"
              class="help-block">
              <span *ngIf="updateForm.get('name').errors['required']">
                This field is required!
              </span>
              <span *ngIf="!updateForm.get('name').errors['required'] 
              && updateForm.get('name').errors['blankSpaces']">
                Empty spaces are not accepted.
              </span>
          </span>          
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" id="description" class="form-control" placeholder={{inputInfo.genre_description}}
          [formControlName]="'description'"  >
        </div>
       
        <button [disabled]="!updateForm.valid" class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-primary" type="cancel" (click)="updateCancel()">Cancel</button>
      </form>
      <hr>      
    </div>
  </div>
 </div> 
 

<table mat-table [dataSource]="genres" class="mat-elevation-z8" *ngIf="toListAll">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.genre_id}} </td>
  </ng-container>


<!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.genre_name | uppercase}} </td>
  </ng-container>

    <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.genre_description}} </td>
  </ng-container>
  
   <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> 
    <button mat-button (click)="onDelete(element)"><mat-icon>delete</mat-icon></button> 
    <button mat-button (click)="onUpdate(element)"><mat-icon>update</mat-icon></button> 
    
    </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>