
<div class="header">
<app-movie-add (newItemAdded)="onNewItemAdded($event)" (newItemAdding)="onNewItemAdding($event)" (newItemCancel)="onNewItemCancel($event)" ></app-movie-add>
</div>


<p>{{eventMessage}}</p>


<div class="updateForm" *ngIf="toUpdate">
  <!--<p>to update id: {{toUpdateMovie.movie_id}}</p>-->
<div class="row">
    <div class="col-sm-12 text-left">
      <form [formGroup]="updateForm" (ngSubmit)="updateSubmit()">
        
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" class="form-control" placeholder={{inputInfo.title}}
          [formControlName]="'title'"  >
        </div>
      
        <div class="form-group">
          <label for="genre">Genre:{{inputInfo.genre_name}}</label>
          <select [formControlName]="'genre'" ><option  [value]="genre.genre_id"  [selected]="genre.genre_name==inputInfo.genre_name"  *ngFor="let genre of genres">{{genre.genre_name}}</option></select>
        </div>
        
        <div class="form-group">
          <label for="showtype">Showtype: {{inputInfo.showtype_name}}</label>
          <select  [formControlName]="'showtype'" ><option  [value]="showtype.showtype_id" [selected]="showtype.showtype_name==inputInfo.showtype_name"   *ngFor="let showtype of showtypes"  >{{showtype.showtype_name}}</option></select>
    
        </div>
        
        <div class="form-group">
          <label for="year">Year:</label>
          <input type="text" id="year" class="form-control" placeholder={{inputInfo.year}}
          [formControlName]="'year'"  >
        </div>
        
       
        <button [disabled]="!updateForm.valid" class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-primary" type="cancel" (click)="updateCancel()">Cancel</button>
      </form>
      <hr>      
    </div>
  </div>
 </div> 
 
<!--<div class="update" *ngIf="toUpdate">-->
    
<!--    <form (ngSubmit)="onSubmit()">-->
<!--    Title <input type="text" id="title" name="title" placeholder={{toUpdateMovie.title}}>-->
<!--    Genre <select><option *ngFor="let genre of genres" [value]="genre.genre_name" [selected]="genre.genre_name==toUpdateMovie.genre_name">{{genre.genre_name}}</option></select>-->
<!--    Show Type <select><option *ngFor="let showtype of showtypes" [value]="showtype.showtype_name" [selected]="showtype.showtype_name==toUpdateMovie.showtype_name">{{showtype.showtype_name}}</option></select>-->
    
    
    <!--Show Type <select *ngFor="let showtype of showtypes">-->
    <!--  <option [value]="showtype.showtype_name" [selected]="showtype.selected==true">{{<showtype class="showtype_name"></showtype>_name}}</option>-->
    <!--</select>-->
    
    
<!--    <br>-->
<!--    <button class="btn btn-warning" type="submit" (click)="updateSubmit()">Submit</button>-->
<!--    <button class="btn btn-warning" type="cancel" (click)="updateCancel()">Cancel</button>-->
<!--    </form>-->
    
<!--</div>-->




<table mat-table [dataSource]="movies" class="mat-elevation-z8"  *ngIf="toListAll">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.movie_id}} </td>
  </ng-container>

<!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

<!-- Genre Column -->
  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef> Genre </th>
    <td mat-cell *matCellDef="let element"> {{element.genre_name | uppercase}} </td>
  </ng-container>

<!-- Title Column -->
  <ng-container matColumnDef="showtype">
    <th mat-header-cell *matHeaderCellDef> Show Type </th>
    <td mat-cell *matCellDef="let element"> {{element.showtype_name | uppercase}} </td>
  </ng-container>

    <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>
  
   <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> 
    <button mat-button (click)="onDelete(element)"><mat-icon>delete</mat-icon></button> 
    <button mat-button (click)="onUpdate(element)"><mat-icon>update</mat-icon></button> 
    
    </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>