<div class="addButton">
<button mat-raised-button (click)="add()"><mat-icon>add</mat-icon>ADD {{title|uppercase}}</button>
</div>
<div class="addForm" *ngIf="toShowAddForm">
<div class="row">
    <div class="col-sm-12 text-left">
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
          <label for="title">Title*:</label>
          <input type="text" id="title" class="form-control"
          [formControlName]="'title'"  [(ngModel)]="inputInfo.title">
        </div>
        
        <div class="form-group">
          <label for="genre">Genre:</label>
          <select [formControlName]="'genre'" ><option  *ngFor="let genre of genres" [value]="genre.genre_id" >{{genre.genre_name}}</option></select>
        </div>
        
        <div class="form-group">
          <label for="showtype">Showtype:</label>
          <select  [formControlName]="'showtype'" ><option *ngFor="let showtype of showtypes" [value]="showtype.showtype_id" >{{showtype.showtype_name}}</option></select>
    
        </div>
        
        <div class="form-group">
          <label for="year">Year:</label>
          <input type="text" id="year" class="form-control"
          [formControlName]="'year'"  [(ngModel)]="inputInfo.year">
        </div>
       
        <button [disabled]="!addForm.valid" class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-primary" type="cancel" (click)="addCancel()">Cancel</button>
      </form>
      <hr>      
    </div>
  </div>
 </div> 

